fastapi
uvicorn
python-multipart
beautifulsoup4
requests
google-cloud-storage
google-cloud-aiplatform
langchain
langchain-google-genai
python-dotenv
pandas
openpyxl
aiohttp
asyncio
httpx
lxml
html5lib
yfinance
